In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('../input/malware_data.csv')

In [25]:
df[:5]

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1016,1017,1018,1019,1020,1021,1022,1023,category,labels
0,0,99,220,185,108,74,134,163,38,99,...,174,160,205,195,23,3,0,0,Fakerean,0
1,1,70,84,182,157,126,178,141,159,69,...,226,217,251,220,21,0,0,0,Fakerean,0
2,2,199,130,151,146,161,192,133,176,53,...,174,160,205,195,23,3,0,0,Fakerean,0
3,3,112,81,146,45,90,215,115,66,118,...,39,42,7,56,56,48,43,67,Fakerean,0
4,4,99,220,185,108,74,134,163,38,99,...,174,160,205,195,23,3,0,0,Fakerean,0

In [26]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df[:5]

,0,1,2,3,4,5,6,7,8,9,...,1016,1017,1018,1019,1020,1021,1022,1023,category,labels
0,99,220,185,108,74,134,163,38,99,178,...,174,160,205,195,23,3,0,0,Fakerean,0
1,70,84,182,157,126,178,141,159,69,137,...,226,217,251,220,21,0,0,0,Fakerean,0
2,199,130,151,146,161,192,133,176,53,103,...,174,160,205,195,23,3,0,0,Fakerean,0
3,112,81,146,45,90,215,115,66,118,106,...,39,42,7,56,56,48,43,67,Fakerean,0
4,99,220,185,108,74,134,163,38,99,178,...,174,160,205,195,23,3,0,0,Fakerean,0

In [27]:
import numpy as np
labels = np.array(df['labels'])
df = df.drop('category', axis = 1)
df = df.drop('labels', axis = 1)
feature_list = list(df.columns)
features = np.array(df)

In [34]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.50)
# increased test_size for fast result

In [35]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (4669, 1024)
Training Labels Shape: (4669,)
Testing Features Shape: (4670, 1024)
Testing Labels Shape: (4670,)

In [36]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 10) # lowered for fast result
rf.fit(train_features, train_labels);

In [38]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.71 degrees.